.navbar_default {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
  padding: 0.625rem 1.5rem;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.navbar_toggle {
  color: #5c5776;
  font-size: 20px;
  line-height: 0.5;
  cursor: pointer;
  i {
    display: block;
    padding: 17px 20px 16px 0;
  }
}

.navbar_right {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: auto;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.nav_r_link {
  display: flex;
  cursor: pointer;
  position: relative;
  @media (max-width: 992px) {
    position: static;
  }
  .avatar {
    display: flex;
    position: relative;
    img {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.avatar_info {
  line-height: 1;
  margin-left: 1rem;
  h5 {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
  }

  p {
    margin-bottom: 0;
    color: #a8a3b9;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.indicator {
  position: relative;
  &::before {
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 0;
    content: '';
    display: table;
    height: 30%;
    position: absolute;
    right: 5%;
    width: 30%;
    background: #19cb98;
    z-index: 1;
  }
}

.dropdown {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px 0 rgb(31 45 61 / 26%);
  color: #18113c;
  font-size: 0.875rem;
  line-height: 1.2rem;
  margin: 1.125rem 0;
  min-width: 12rem;
  padding: 1rem 0;
  background: var(--white);
  top: 26px;
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in;
  visibility: hidden;
  left: auto;
  right: 0;

  @media (min-width: 992px) {
    position: absolute;
  }

  @media (max-width: 992px) {
    margin: 2.25rem 0.75rem !important;
    position: absolute;
    right: 0;
  }
}

.dropdown_link {
  background-color: transparent;
  border: 0;
  clear: both;
  display: block;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
  color: #18113c;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 28px;
  padding: 0.125rem 1.2rem;
  border-bottom: 0;
  &:hover {
    background-color: #f5f4f8;
    border-radius: 0;
    color: #754ffe;
    text-decoration: none;
  }
}

.nav_r_link:hover > .dropdown {
  opacity: 1;
  visibility: visible;
}
