$dark_nav: #18113c;

// sidebar
.navbar_vertical {
  background-color: $dark_nav;
  border-right: 1px solid $dark_nav;
  bottom: 0;
  display: block;
  height: 100vh;
  margin-left: -17rem;
  max-width: 250px;
  padding: 0;
  position: fixed;
  top: 0;
  transition: margin 0.25s ease-out;
  width: 100%;
  @media (min-width: 768px) {
    margin-left: 0;
  }

  .slim_scroll_div,
  .nav_scroller {
    height: 100% !important;
    overflow-y: auto;
  }

  .nav_scroller {
    display: flex;
    flex-direction: column;
  }

  .navbar_brand {
    display: block;
    margin-right: 0;
    padding: 1rem 1.5rem 1.5rem;
  }
}

// scrollbar
.slim_scroll_div {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 97%;
}

.slim_scroll_bar {
  background: rgb(0, 0, 0);
  width: 7px;
  position: absolute;
  top: 0px;
  opacity: 0.4;
  display: none;
  border-radius: 7px;
  z-index: 99;
  right: 1px;
  height: 306.399px;
}

.slim_scroll_rail {
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0px;
  display: none;
  border-radius: 7px;
  background: rgb(51, 51, 51);
  opacity: 0.2;
  z-index: 90;
  right: 1px;
}

// logo
.navbar_brand {
  font-size: 1.09375rem;
  margin-right: 1rem;
  padding-bottom: 0.325rem;
  padding-top: 0.325rem;
  white-space: nowrap;
  text-align: center;
  .logo {
    height: 1.875rem;
  }
}

// nav links
.navbar_nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  flex-direction: column;
}

.nav_item_h {
  transition: all 0.1s ease-in-out;
}

.nav_item_h:hover {
  background: rgba(117, 79, 254, 0.11);
}

.nav_item_h:last-child {
  margin-top: auto;
}

.nav_link {
  align-items: center;
  color: #beb9cd;
  display: flex;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s;
  text-transform: capitalize;
  &:hover {
    color: #fff;
  }
  .nav_icon {
    font-size: 1.1rem;
    opacity: 0.6;
    transition: all 0.5s;
    margin-right: 0.5rem;
  }
}

// nav link title
.nav_heading {
  color: #5c5776;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
}
