@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body_bg: #f5f4f8;
$body_color: #5c5776;
$body_font: 'Inter', sans-serif;
$body_font_size: 0.875rem;
$body_weight: 400;
$body_line_height: 1.5;
$primary: #754ffe;
$white: #fff;
$black: #000;

:root {
  --primary: #{$primary};
  --white: #{$white};
  --black: #{$black};
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $body_bg;
  color: $body_color;
  font-family: $body_font;
  font-size: $body-font_size;
  font-weight: $body_weight;
  line-height: $body_line_height;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: #5e3fcb;
}

img,
svg {
  vertical-align: middle;
}

ol,
ul {
  padding-left: 2rem;
}

dl,
ol,
ul {
  margin-bottom: 1rem;
  margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18113c;
  font-family: $body_font;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}

.main_wrapper {
  display: flex;
  overflow-x: hidden;
}

.main_wrapper.toggled .toggled {
  margin-left: 0;
}

.main_wrapper.toggled .toggled_1 {
  margin-left: 0;
  @media (min-width: 768px) {
    margin-left: -16rem;
  }
}

.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  position: relative;
  .navbar_brand {
    padding-bottom: 0.2rem;
    padding-top: 0;
  }

  .nav_link {
    padding-left: 0;
    padding-right: 0;
  }
}

.page_content {
  margin-left: 15.625rem;
  min-height: 100vh;
  min-width: 100vw;
  transition: margin 0.25s ease-out;
  @media (min-width: 768px) {
    min-width: 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.container_fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(1.5rem * -0.5);
  margin-right: calc(0 * -0.5);
  margin-top: calc(0 * -1);
}

.row > * {
  flex-shrink: 0;
  margin-top: 0;
  max-width: 100%;
  padding-left: calc(1.5rem * 0.5);
  padding-right: calc(1.5rem * 0.5);
  width: 100%;
}

.col_12 {
  flex: 0 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
  }
  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 100%;
  }
}

.border {
  display: flex;
  border-bottom: 1px solid #ecebf1;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  @media (min-width: 768px) {
    display: flex;
  }
}

.mdb {
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  border-radius: 0.5rem;
}

.p_4 {
  padding: 1.5rem;
}

.form_control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: $white;
  border: 1px solid #e8e7ed;
  border-radius: 0.25rem;
  color: #18113c;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0.75rem 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  &:focus {
    background-color: $white;
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba(231, 225, 253, 0.02);
    color: #18113c;
    outline: 0;
  }
  &::placeholder {
    color: #a8a3b9;
  }
}

.table_responsive {
  border: 0;
  overflow-x: auto;
  display: block;
  transition: opacity 0.15s linear;
}

.table {
  border-color: #ecebf1;
  color: #5c5776;
  margin-bottom: 1rem;
  vertical-align: top;
  width: 100%;
}

.table > thead {
  vertical-align: bottom;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table > :not(caption) > * > * {
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
  padding: 0.75rem 1.5rem;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table thead th {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.table > :not(:first-child) {
  border-top: 2px solid #ecebf1;
}

.table > tbody {
  vertical-align: inherit;
}

.border_primary {
  border-color: #754ffe !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.card_footer {
  background-color: $white;
  border-top: 0;
  padding: 1rem 1.5rem;
  &:last-child {
    border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 0;
}

.page_link {
  background-color: $white;
  border: 1px solid #ecebf1;
  color: #5c5776;
  display: block;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.5rem 0.925rem;
}

.mx_1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.rounded {
  border-radius: 0.25rem;
}

.col_9 {
  flex: 0 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
  }

  @media (min-width: 992px) {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  @media (min-width: 1200px) {
    flex: 0 0 auto;
    width: 75%;
  }
}

.card_b_0 {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
}

.card_header {
  background-color: #fff;
  border-bottom: 1px solid #ecebf1;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_3 {
  margin-bottom: 1rem;
}

.card_body {
  flex: 1 1 auto;
  padding: 1.5rem;
}

.text_dark {
  color: rgb(24, 17, 60);
}

.label {
  color: #18113c;
  margin-bottom: 0.5rem;
  display: inline-block;
  text-transform: capitalize;
}

small {
  font-size: 0.875em;
}

.col_8 {
  flex: 0 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
  }
  @media (min-width: 1200px) {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.col_4 {
  flex: 0 0 auto;
  width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
  }

  @media (min-width: 1200px) {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.mb_4 {
  margin-bottom: 1.5rem;
}

.d_between {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.text_left {
  text-align: left;
}

.m_left {
  margin-left: 1.25rem;
}

.price {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: rgb(24, 17, 60);
  font-weight: 600;
}

.detail {
  i {
    font-size: 24px;
  }

  .de {
    font-size: 0.875rem;
    color: #5c5776;
  }
}

.p_4 {
  padding: 1.5rem;
}

.h1 {
  font-size: 2rem;
}

.fw_bold {
  font-weight: 700;
}

.ms_3 {
  margin-left: 1rem;
}

.icon_lg {
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
}

.icon_shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.text_primary {
  color: rgb(117, 79, 254);
}

.bg_light_primary {
  background: rgb(227, 220, 255);
}

.rounded_corner {
  border-radius: 50%;
}

.fs_3 {
  font-size: 1.25rem;
}

.border_start {
  @media (min-width: 768px) {
    border-left: 1px solid #ecebf1 !important;
  }
}

.text_danger {
  color: rgb(229, 63, 60);
}

.bg_light_danger {
  background: rgb(250, 217, 216);
}

.text_center {
  color: rgb(25, 203, 152);
}

.bg_light_success {
  background: rgb(209, 245, 234);
}

.capitalize{
  text-transform: capitalize;
}

div::-webkit-scrollbar{

}